<div class="container">
  <div class="row">
    <div class="col-sm-9">
    <h1>Contactez l'équipe!</h1>

      <table class="table table-sm">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Github</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>RABEHARISOA Rinah Philbert</td>
            <td><a href="https://github.com/RinahPh">https://github.com/RinahPh</a></td>
          </tr>
          <tr>
            <td>Alain Christian RADAFIARIJAONA</td>
            <td><a href="https://github.com/christian-001">https://github.com/christian-001</a></td>
          </tr>
          <tr>
            <td>Rabedaoro David N H / David N H</td>
            <td><a href="https://github.com/RDavidNH">https://github.com/RDavidNH</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>






