<h1>Notre TEAM!</h1>

<h2>Voice notre équipe de Ruby on Rails développeur!</h2>

<ul>
  <li><h4>RABEHARISOA Rinah Philbert</h4></li>
  <li><h4>Alain Christian RADAFIARIJAONA</h4></li>
  <li><h4>Rabedaoro David N H / David N H</h4></li>
</ul>



